<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30102509788-roah2o11tt0nv6bicnjuik1jbr8glaoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30102509788-roah2o11tt0nv6bicnjuik1jbr8glaoo</string>
	<key>API_KEY</key>
	<string>AIzaSyDvBlLIJqelh5FyAM3i8jb0FO4QNp65MaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>30102509788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iManar.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e00ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e00ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30102509788:ios:9593c698403960f7e6bc19</string>
</dict>
</plist>